li {
  list-style-type: none; /* Убираем маркеры */
}

button[name="run_script"] {
  border: none;
  border-radius: 7px;
  padding: 10px 25px;
  background: #4caf50;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

button[name="run_script"]:hover {
  background: #2E8B57;
}

input[type=submit] {
  background-color: #2E8B57;
  border: none;
  border-radius: 7px;
  padding: 4px 21px;
  background: #4caf50;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

