<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="../css/style.css" th:href="@{css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />

</head>
<style>
    button.default {
      background: white;
      width: 80px;
      height: 80px;
      font-size: 40pt;
      transition: background 9999999s;
    }

    button.default:active {
      background: red;
      transition: background 3s;
    }
    .red{
      background-color: red;
    }
    .green{
      background-color: green;
    }
</style>
<body>
<header th:insert="blocks/header :: header"></header>








<footer th:insert="blocks/footer :: footer"></footer>
<script>

</script>
</body>
</html>